
html {
  width: 3000px;
  margin: 50px;
}

template {
  display: flex;
  vertical-align: center;
}

.article {
  display: inline-flex;
  margin: auto;
  width: 2000px;
  height: 700px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  height: 100%;
  padding: 5px;
  margin: 0px;
}

p {
  font-family: "Poppins", sans-serif;

  font-size: 16px;
  color: grey;
  margin: 5px 10px;
}

h4,
h2,
h3 {
  font-family: "Montserrat", sans-serif;

  font-size: 14px;
  font-weight: bolder;
  margin: 5px 0px 0px 0px;
}

h2 {
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.img-wrapper {
  display: flex;
  flex-basis: 50%;
}

.img-wrapper img {
  width: 50%;
}
.bullet-text p {
  padding: 2px;
  margin: 0px;
}

.bullets-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10px;
}
.picture img {
  width: 40px;
  padding: 5px;
}
