.modal-hidden{
    display: none;
}

img {

    height: 150px;
    
    max-width: initial;
    
    pointer-events: none;
    
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      