
    
    .container {
     
      display: inline-block;

        position: center ;
        padding: 10px;
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top : 50px ; 
    }

button {
    align-items: center;
    margin-left: 100px;
    margin-top: 25px;
    margin-right:100px;
    background-image: linear-gradient(144deg,#FFFFFF, #FFFFFF 50%,#FFFFFF);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: rgb(6, 70, 135);
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 100%; 
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;

  }
  
  button:active,
  button:hover {
    background-image: linear-gradient(144deg,#064687, #064687 50%,#064687);
    color: #FFFFFF;

    outline: 0;
  }

  